<a class="card" style="<%= "background-color:#{cardColor};" %>" id="<%= "#{tag}" %>" href="<%= "./#{tag}" %>">
   <div class="imageWrapper">
      <img class="cardImage" src="<%= "./images/#{imageFile}" %>" >
   </div>
   <div class="textWrapper">
      <h3><%= title %></h3>
      <p><%= description %></p>
   </div>
</a>
